*{padding: 0;margin: 0;}
.container{height: 100vh;
           width: 100vw;
           color:#444;
           background:#ffe7e3;
           text-align: center}
          
.love, .next, .loveyou{
    padding-top: 25%;
}          
h2{font-size: 72px;margin-bottom: 30px;} 
.love span{color:#e40dae;}
.love a{text-decoration: none;
    background: rgb(200, 233, 83);
    padding: 5px;
    margin: 5px 10px;
    border:3px solid rgb(223, 14, 14) ;
    border-radius:10px;
}
#next{color: rgb(224, 28, 149);}
img{height: 3-px;width: 30px;
    animation: heart 4s linear infinite;}

@keyframes heart{
    0%{transform: scale(.5);}
    50%{transform: scale(1.5);}
    100%{transform: scale(.5);}
}    

